---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import Icon from "astro-icon";

export interface Props {
  title: string;
}

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title ? title : "ServiActiva";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./logo1.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Somos una empresa especializada en la prestación de servicios integrales de aseo, brindamos a nuestros clientes soluciones efectivas en cuanto a limpieza, servicios generales, jardinería, paisajismo, fumigaciones, lavado de tanques, salvavidas y limpieza de obras, con personal calificado que mantendrá todos sus espacios en perfectas condiciones creando ambientes agradables."
      openGraph={{
        basic: {
          type: "website",
          title: `ServiActiva`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "ServiActiva shot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <button
      class="fixed bottom-4 right-4 bg-atlantis-500 hover:bg-atlantis-600 text-white p-3 w-16 h-16 rounded-full shadow-lg"
    >
      <a href="https://wa.me/+573104810190">
        <Icon class="w-15 h-15" name="ic:baseline-whatsapp" />
      </a>
    </button>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
